<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="5">

    <test  verbose="2" preserve-order="false" name="Test 1" parallel="methods"  thread-count="5">
        <classes>
            <class name="TestChangesV1"></class>
            <class name="TestChangesV2"></class>
        </classes>
    </test>



</suite>